.weather-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  background-color: #1565C0;
  color: white;
  text-align: left;
  padding: 1.5rem 1rem;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.weather-header h1 {
  font-size: 1.3rem;
  font-weight: 400;
}

.search-message {
  margin-top: 0.5rem;
}

.search-message button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}