* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 480px;
  margin: 0 auto;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* DESKTOPS */
@media (min-width: 1024px) {
    .app-content {
      min-height: 80vh;
    }
}